* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

nav {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: space-between; /* Distribue l'espace entre les éléments */
}

nav ul {
    display: flex; /* Affiche les éléments de la liste en ligne */
    list-style-type: none; /* Supprime les puces */
    flex-grow: 1; /* Permet à la liste de prendre de l'espace disponible */
    justify-content: center; /* Centre les éléments de la liste */
}

nav ul li {
    margin-right: 80px; /* Espace entre les éléments de la liste */
}

nav ul li a {
    color: white;
    text-decoration: none;
}
li:hover{
    background-color: #7f817f;
    border-radius: 5px;
}
/* Positionne le logo à gauche */
.logo {
    height: 100px; /* Ajuste la taille du logo */
    width: 90px; /* Conserve les proportions */
}

button.cv {
    width: 90px;
    border-radius: 5px;
    background-color: #c9c9c9;
    color: rgb(12, 12, 12);
    border: 1px solid #fff;
    padding: 5px 10px;
    margin-left: auto; /* Pousse le bouton à droite */

}
button a {
    text-decoration: none;
    color: #030303;
}


.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.intro .container {
    max-width: 600px;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px; /* Ajoute un espace en bas du h1 */
}

.highlight {
    color: #000;
}

.social-icons{
    padding-left: 20%;
    margin-top: 20px; /* Ajoute un espace au-dessus des icônes sociales */
}
.social-icons a {
    margin-right: 15px; /* Espace entre les icônes */
    font-size: 40px; /* Ajuste la taille des icônes */
    color: #000; /* Optionnel : change la couleur des icônes */
    
}
.social-icons a:hover {
    color: #007bff; /* Change la couleur au survol (optionnel) */

}
.skills {
    text-align: center;
    padding: 40px 20px;
    background-color: #4d4c4c;
}

.skills h2 {
    margin-bottom: 20px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.skill-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.skill-item:hover{
    background-color: #7f817f;
}

.experience {
    padding: 40px 20px;
    background-color: #f9f9f9;
    
}
.experience h2 {
    margin-bottom: 20px;
    text-align: center;
}
.experience-grid {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* Crée deux colonnes */
    gap: 20px; /* Espace entre les éléments */
}

.experience-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px; /* Arrondit les coins (optionnel) */
}
.experience-item:hover{
    background-color: #7f817f;
}
.experience h3{
    font-size: 18px;
    margin-bottom: 10px;  
    text-align: center;
}
.date{
    text-align: center;
    font-size: 15px;
}

.projects {
    padding: 40px 20px;
    background-color: #4d4c4c;
    text-align: center;
}

.projects h2 {
    margin-bottom: 20px;
    
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}
.project-item:hover{
    background-color: #7f817f;
}
.project-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
   /* margin: 50px auto; 50px margine bas et haut et centre le conteneur*/
    padding: 20px;
    background: rgb(245, 247, 247);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    padding: 40px;
    color: #090808;
    margin-bottom: 20px;
}

.container label {
    display: inline;
    margin-bottom: 8px;
    color: #585858;
}

.container input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;/*Inclut le padding et la bordure dans le calcul de la largeur totale, évitant ainsi des débordements inattendus*/  
}

.container button {
    background-color: #414141;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    background-color: #333;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.contact .container {
    max-width: 650px;
   
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.burger {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-left: auto;
}
/* Petits écrans (téléphones) */
@media (max-width: 857px) {
    nav {
        position: relative; /* Pour que le menu soit positionné correctement */
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%; /* Le menu prend toute la largeur de l'écran */
        background-color: #333; /* Même couleur que le header */
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    /* Afficher le burger */
    .burger {
        display: block;
        position: absolute;
        right: 100px;
        top: 32px;
    }

    nav ul li {
        text-align: center;
        margin: 10px 0;
    }

    /* Afficher le menu quand il est ouvert */
    nav ul.open {
        display: flex;
    }
    /* Assurez-vous que le bouton burger soit à droite */
    .intro {
        flex-direction: column; /* Empile les éléments */
        text-align: center;
        align-items: center;
        padding: 40px;
    }
    .intro img{
        width: 100%;
    }
    .intro .container {
        max-width: auto;
    }

    .social-icons {
        padding-left: 0;
    }

    .skill-grid {
        grid-template-columns: 1fr 1fr; /* 2 colonnes */
    }

    .experience-grid {
        grid-template-columns: 1fr; /* 1 colonne */
    }

    .project-grid {
        grid-template-columns: 1fr; /* 1 colonne */
    }

    .contact {
        flex-direction: column;
    }
.contact img{
    width: 100%;
}
   
}

/* Tablettes */
@media (min-width: 857px) and (max-width: 1024px) {
    .intro {
        flex-direction: column; /* Empile les éléments */
        text-align: center;
        align-items: center;
        padding: 40px;
    }
    .intro img{
        padding-top: 12px;
        width: 78%;
    }
    .intro .container {
        max-width: auto;
    }

    .social-icons {
        padding-left: 0;
    }

    .skill-grid {
        grid-template-columns: 1fr 1fr; /* 2 colonnes */
    }

    .experience-grid {
        grid-template-columns: 1fr; /* 1 colonne */
    }

    .project-grid {
        grid-template-columns: 1fr; /* 1 colonne */
    }

    .contact {
        flex-direction: column;
    }
.contact img{
    padding-top: 12px;
    width: 84%;
}
   
}